body {
    background-image: url(./assets/wallpaper.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color:lavender;
}

.container {
    background-color: rgb(18, 23, 33);
    max-width: 600px;
    min-height: fit-content;
    display: flex;
    margin: 40px auto;
    padding: 20px;
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.8);
    justify-content: center;
    flex-wrap: wrap;
}

#title {
    display: flex;
    margin: auto auto;
}

#cont-chars {
    gap: 6px
}

#cont-chars-select {
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.char  {
    max-width: 100px;
    max-height: 100px;
    border-radius: 6px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
}
#char-select-img {
    min-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
}
#cont-select {
    justify-content: center;
    gap: 20px
}

.cont-ability {
    display: flex;
    gap: 40px;
}

.label-ability {
    margin: auto 0;
    width: 200px;
    word-wrap: break-word;
}

#cont-char-abilites {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cont-char-select {
    margin: auto 0 auto 0;
}

.img-ability {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
}

#label-char-select {
    text-align: center;
}